p{
    color: white;
}
.wrap{
    background-color: rgb(228, 81, 81);
    width:500px;
    margin: 0 auto;
    margin-top:50px;
    h1{
        text-align: center;
        margin: 0 auto;
    }
}

.options{
    margin:0 auto;
    margin-top: 50px;
    width:500px;
    display:flex;
    justify-content: space-between;
}

.storyline{

    margin:0 auto;
    padding: 15px;
    margin-top: 50px;
    width:500px;
    background-color: black;
    border:solid black 1px;
}